@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Orbitron, sans-serif;
  background-color: #0e0d0d;
}
h1 {
  color: #f2f2f2;
}
.display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  color: #f2f2f2;
  border-radius: 4px;
  background-color: rgb(44, 47, 49);
}

.calculator {
  padding: 24px;
  width: 300px;
  height: 400px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #545a8b;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* .row:last-child::before {
  content: "";
  width: 40px;
  height: 40px;
} */

.button, .number, .operand,.equals {
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  background-color: #ca6946;
  border-radius: 4px;
  border: 2px solid #ca6946;
}
